#cryptoInformationPanel {
    /* width: fit-content; */
    background-color: #f5f7f5;
    text-align:center;
    margin-bottom: 0;
    
}

#leaveAReviewHeader {
    border-bottom: 1px solid;
}

#cryptoProfileJumboTron {
    margin-bottom: 0;
}

#addReviewPanel {
    padding:40px;
    height: fit-content;
    width: fit-content;
    border: 1px solid;
}

hr {
    border-top: 1px solid black;
}

.comment-text {
    font-size: 25px;
}

#projectTitle {
    text-align: center;
    font-size:100px;
}

#backToListingsButton{
    float:right;
}